extends layout 

block content
    secttion.cont
        h2= title      
        form(method="GET" action="/logout")
            input.btn-grande(type="submit" value="logout")
    figure.secion-img   
        img(src="./img/blancarossi.png" alt="blancarossi")
    asside.panel
        nav.menu
            ul 
                li 
                    a(href="/") Inicio  
                li 
                    a(href="/products") Productos
                li 
                    a(href="/informacion") Informacion  
                li 
                    a(href="/init") Cuenta
                li 
                    a(href="/pages/contacto.pug") Contacto 

    div.slider 
        div.slider-slides
            div.slider-slide.active
                img(src="./img/portada.png" alt="")
            div.slider-slide
                img(src="https://d22fxaf9t8d39k.cloudfront.net/3d825d7293d61a25e8ba509d0823cb4fd8a4894fe3eb8123387b299c7bb84b5a163565.png" alt="")
            div.slider-slide 
                img(src="https://d22fxaf9t8d39k.cloudfront.net/c0cb135f0e00a41279a651b93cb16ff672a3ee5571a6bdab826f2c334ed92566163565.png" alt="")
        div.slider-btns
            a.prev &laquo;
            a.next &raquo;
    button.panel-btn.hamburger.hamburger--vortex
        span.hamburger-box
            span.hamburger-inner
    div.div
        if data.length
            figure.grid-fliud
                each product in data
                    div
                        img.img(src=`${product.img}` alt=`${product.product_name}`)
                        figcaption #{product.product_model}     
                        figcaption $#{product.price}  

    footer 
        div.divdelparrafo
            h4.pdeldiv Mediod de pagos 
                div.divdelaimagen
                    img.imgdelfooter(src="./img/mercadopagp.jpeg" alt="Mercado pago")
                    img.imgdelfooter(src="./img/cash_40532.png" alt="")
                    img.imgdelfooter(src="./img/handshake-done-deal-free-vector.jpg" alt="")
        div.divdelparrafo
            h4.pdeldiv Medios de envio
                div.divdelaimagen    
                    img.imgdelfooter(src="./img/correo-argentino.png" alt="")        
                    img.imgdelfooter(src="./img/personalizado.png" alt="")        
                    img.imgdelfooter(src="./img/retiro-local.png" alt="")   
                    img.imgdelfooter(src="./img/handshake-done-deal-free-vector.jpg" alt="")     

        div.divdelparrafo 
            h4.pdeldiv Nuestras redes sociales
                p.text-p blancarossi@blancarossi.com
        div.divdelparrafo 
            h4.pdeldiv Contacto 
                p.text-p blancarossi.store@gmail.com
                p.text-p 2236953368
                p.text-p Alberti 2018. loc 24
                p.text-p Botón de arrepentimiento                     